body {
    background-color: #1c1b25;
    color: white;
}

.landing-div {
    border: 1px solid blue;
    height: 100vh;
}

.logo {
    max-width: 1.2em;
    float: left;
    padding-right: 1em;
}

img {
    max-width: 1.2em;
}
.meow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 10em; */
}

