body {
	background-color: #1c1b25;
	color: white;
}

.landing-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about{
	float: right;
}

.logo {
	max-width: 1.2em;
	float: left;
	padding-right: 1em;
}

img {
	max-width: 1.2em;
}
.content-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5em;
	/* grid-template-rows: 10em; */
}

