body {
	background-color: #1c1b25;
	color: #f4f4f4;
	margin-left: 4em;
	margin-right: 4em;
}

a {
	color: #f4f4f4;
}

a:hover {
	color: #4a41fb;
}

h1, h2, h3, h4, h5, a {
	font-family: 'chivo', sans-serif;
}

h5 {
	font-size: 2em;
}

p {
	font-family: 'montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.header {
	padding-top: 1.5em;
}

.about {
	float: right;
	text-decoration: none;
	font-size: 1.3em;
	padding: .7em 1.4em;
	border-radius: 5px;
	border: 2px solid #f4f4f4;
}

.about:hover {
	border-color: #4a41fb;;
}

.landing-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #f4f4f4;
}

.welcome-text {
	font-size: 3.5em;
}

.hi-there {
	font-size: 2.5em;
	margin: 0;
}

.hi-there-followup {
	font-size: 1em;
	margin: 0;
}


.logo {
	max-width: 3em;
	float: left;
	padding-right: 1em;
}

.about-me-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-bottom: 1px solid #f4f4f4; */
}

.about-me-text {
padding: 6em;
}

img {
	max-width: 2em;
}

.content-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5em;
	padding-left: 3em;
	padding-right: 3em;
	/* grid-template-rows: 10em; */
}


